<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="common/header::header"></head>
<body>
<div th:replace="common/header::navigation"></div>
<div class="main-content">
    <div class="last" th:text="${whatIsIt}"></div>
    <div class="container">
        <div class="row" >
            <div th:each="product : ${products}" id="product" class="project col-md-6 col-lg-4">
                <div class="card" th:data-id="${product.getId()}" style="width: 18rem;">
                    <img  th:if="${product?.filename}" th:src="@{${'/images/products/'+product.filename}}"   class="card-img-top" alt="..."/>
                    <div class="card-body">
                        <p class="card-title" th:text="${product.title}"></p>
                        <p class="card-text" th:text="${product.description}"></p>
                        <h5 class="card-price" th:text="${product.price} + ' sek'"></h5>
                        <!--                   <button class="btn cart" data-toggle="modal" data-target="#exampleModalCenter">Add to basket</button>-->
                        <form th:action="@{/}" method="post">
                            <input style="width: 50px;" type="number" pattern="^[ 0-9]+$" th:id="quantity" th:name="quantity" th:value="1" />
                            <input type="hidden" th:value="${product.id}" name="product"/>
                            <button class="btn cart">Add to cart</button>
                        </form>

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>


<footer>
    <div class="f">
        Copyright - Vegan Life - 2019
    </div>

</footer>


</body>
</html>