<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="common/header::header"></head>
<body>
<div th:replace="common/header::navigation"></div>
<div class="main-content">
    <div class="last"> Orders </div>

    <div class="container order" th:each="order : ${orders}">
        <div class="row order border border-success" data-toggle="collapse" th:href="'#collapse'+${order.getId()}" aria-expanded="false" aria-controls="collapseExample">
            <div class="col" align="center">
                <div class="columnName" th:text="ORDER" ></div>
                <div th:text="${order.getId()}"></div>
            </div>
            <div class="col" align="center">
                <div class="columnName" th:text="ADDRESS" ></div>
                <div th:text="${order.getUserAddress()}"></div>
            </div>
            <div class="col" align="center">
                <div class="columnName" th:text="STATUS"></div>
                <div th:text="${order.getOrderStatus().getDisplayValue()}"></div>
            </div>
            <div class="col" align="center">
                <div class="columnName" th:text="SUM"></div>
                <div th:text="${order.getTotalSum()}+ ' SEK'"></div>
            </div>
        </div>
        <div class="container">
            <div class="row cart-item collapse" th:each="product: ${order.getSortedOrderProducts()}" th:id="'collapse'+${order.getId()}">
                <div class="col-md-6 col-lg-3">
                    <img  th:if="${product.getProduct()?.filename}" th:src="@{${'/images/products/'+product.getProduct().filename}}" style="height: 100px; width: auto;">
                </div>
                <div class="col-md-6 col-lg-5" >
                    <div class="columnName" th:text="Title"></div>
                    <div th:text="${product.getProduct().title}"></div>
                </div>
                <div class="col-md-6 col-lg-2" >
                    <div class="columnName" th:text="Quantity"></div>
                    <div th:text="${product.getQuantity() + ' st'}"></div>
                </div>
                <div class="col-md-6 col-lg-2" >
                    <div class="columnName" th:text="Price"></div>
                    <div th:text="${product.getProduct().price*product.getQuantity()} + ' sek'"></div>
                </div>
            </div>
        </div>


    </div>
</div>


<footer>
    <div class="f">
        Copyright - Vegan Life - 2019
    </div>

</footer>

<script>

</script>

</body>
</html>